@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Modak&display=swap');

* {
  margin: 0;
  box-sizing: 0;
}

body {
  background-color: rgb(212, 209, 209);
  overflow-y: hidden;
}

.container {
  display: flex;
  border: none;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.card_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 70%;
  border-radius: 6%;
  background: rgba(94, 181, 181, 0.927);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.6px);
  -webkit-backdrop-filter: blur(10.6px);
  border: 1px solid rgba(181, 204, 204, 0.689);
  margin-top: 5%;
  margin-left: 30%;
  position: absolute;
  z-index: -2;
}

.info_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5f5f5;
  margin-top: 5%;
}

.img_ {
  width: 30%;
  display: block;
  margin-bottom: 2%;
}

.info_temperature {
  font-size: 4.3rem;
  gap: 0;
  font-weight: 500;
}

.info_humidity {
  display: flex;
  flex-direction: row;
  gap: 0;
  font-size: 1.5rem;
  margin-bottom: 8%;
  font-weight: 500;
}

.icon_humidity {
  width: 45px;
  margin-bottom: 8%;
}

.info_date_hour {
  gap: 0;
  color: #f5f5f5;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding-top: 5%;
}

.section-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: white;
  color: black;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: max-content;
  padding: 5rem;
  margin: 3rem 1rem;
  transform: translateX(-100px);
}

label {
  font-weight: bold;
  margin-bottom: 4px;
}

input {
  width: 100%;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 14px;
}

button {
  align-self: center;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: gray;
}

.historic-item {
  width: 100%;
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 8px;
}

.historic-item p {
  margin: 4px 0;
}

@media (prefers-reduced-motion: no-preference) {
}
